body {
	margin: 0;

	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #6c7279;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* container */

.container {
	margin: 0 auto;
	width: 1170px;
}

/*header*/

.header { 
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header__inner {
	padding: 35px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid #505369;
}

/*nav*/

.nav {
	text-transform: uppercase;
}

.nav a {
	margin-left: 60px;

	text-decoration: none;
	color: #fff;
	opacity: .75;

	transition: opacity .2s;
}

.nav a:first-child {
	margin: 0;
}

.nav a:hover{
	opacity: 1;
}

/*intro*/

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	padding-top: 100px;

	background: url(../img/header-bg.jpg) no-repeat center / cover;
}

.intro__inner{
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}


.intro__title {
	margin-bottom: 40px;
	font-family: 'Open Sans' sans-serif;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.intro__subtitle {
	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 80px;

}

/*button*/

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 14px 55px;

	border-radius: 3px;
	border: 0;
	cursor: pointer;

	font-family: inherit;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.btn--red {
	background-color: #e84545;
}

.btn--red:hover {
	background-color: #c83838;
}

/*features*/

.features {
	display: flex;
	flex-wrap: wrap;
	margin: 100px 0;
}

.features_item {
	width: 33.33333%;
	padding: 0 40px;

	text-align: center;
}

.features_icon {
	margin-bottom: 20px;
}

.features_title {
	margin-bottom: 25px;

	color: #2d3033;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.features_text {
	font-size: 14px;
	color: #6c7279;
	font-weight: 400;
	line-height: 1.5;

	margin-bottom: 75px;
}

/*works*/

.works {
	display: flex;
	flex-wrap: wrap;
}

.works_item {
	width: 25%;
	height: 350px;
	position: relative;
	overflow: hidden;

	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

.works_item:hover .works_content {
	opacity: 1;
}

.works_img {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;

	transform: translate3d(-50%, -50%, 0);

}

.works_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;

	background-color: rgba(232, 69, 69, .9);
	opacity: 0;

	text-align: center;


	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	transition: opacity .2s linear;
}

.works_title {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;

	margin-bottom: 5px
}

.works_text {
	font-size: 14px;
	color: #fff;
}